<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/">홈</a>
      <a mat-list-item routerLink="/foresee">주가 예측</a>
      <!-- <a mat-list-item routerLink="/recom">종목 추천</a> -->
      <a mat-list-item routerLink="/overview">주식 데이터 확인(준비중)</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>심화프로그래밍 프로젝트</span>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
